# Dependencies
node_modules/

# Build output
dist/
*.tsbuildinfo

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
Thumbs.db
.DS_Store

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Claude
.claude

# Trae
.trae

package-lock.json
pnpm-lock.yaml
